.weather-container {
    width: 15%;
}


img {
    max-width: min-content;
    max-height: min-content;
    align-self: center;
}

li:hover {
    cursor:grab;
}

/*not working*/
.icon-one {
    max-width: 200px;
    max-height: 200px;
}

@media (max-width: 690px) {
    #search-history {
        display: none;
    }
}